<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Labeling Interface Page</title>
  </head>

  <body>

    <h1>TrafficNet - Image Labeling System</h1>

    <div class="imageTray">
      <iframe src="<%= sampleURL%>"></iframe>
    </div>


    <!-- Load Main JS -->
    <script src="/label.js"></script>

  </body>
</html>