<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/label.css">
    <meta charset="UTF-8" />
    <title>Labeling Interface Page</title>
  </head>

  <body>

    <h1 class="colortext">TrafficNet - Image Labeling System</h1>

    <div class="imageTray">
      <img src="<%= imageSource%>" alt="Stickyyy"></iframe>
    </div>




    <!-- Load Main JS -->
    <script src="/label.js"></script>

  </body>
</html>